* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body {
 font-family: Arial, sans-serif;
 line-height: 1.6;
 background-color: #bbffe9;
 padding: 20px;
}
.container {
 max-width: 800px;
 margin: 0 auto;
}
.card {
 background: #d7fff2;
 text-align: center;
 padding: 20px;
 margin-bottom: 20px;
 border-radius: 8px;
 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h1 {
 text-align: center;
 margin-bottom: 10px;
}
h2 {
 margin-bottom: 10px;
 margin-top: 20px;
}
p {
 margin-bottom: 10px;
}
ul {
 margin-left: 20px;
 margin-bottom: 10px;
}
a {
 text-decoration: none;
 color: #0077cc;
}
a:hover {
 color: #005fa3;
}
table {
 width: 100%;
 border-collapse: collapse;
 margin-top: 10px;
}
th, td {
 border: 1px solid #ccc;
 padding: 8px;
}
th {
 background-color: #c9ffee;
 color: rgb(0, 0, 0);
}
form {
 display: flex;
 flex-direction: column;
 gap: 12px;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form br {
    display: none;
}

input, textarea {
 padding: 5px;
 border: 1px solid #ccc;
 border-radius: 0px;
}
button {
 padding: 10px;
 background-color: #6cb6a0;
 color: white;
 border: none;
 cursor: pointer;
}
button:hover {
 background-color: #005fa3;
}
.card1 {
 background: #d7fff2;
 padding: 20px;
 margin-bottom: 20px;
 border-radius: 8px;
 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card2 {
 background: #d7fff2;
 text-align: center;
 max-width: 800px;
 margin: 0 auto;
 padding: 0px;
 margin-bottom: 10px;
 border-radius: 4px;
 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.dark-mode {
 background-color:#000000;
 color:rgb(255, 255, 255)
}
.hidden {
 display:none;
}
.dark-mode .card{
 background-color:#808080;
 color:rgb(255, 255, 255)
}
.dark-mode .card1{
 background-color:#808080;
 color:rgb(255, 255, 255)
}
.dark-mode .card2{
 background-color:#808080;
 color:rgb(255, 255, 255)
}
.dark-mode th{
 background-color:#C0C0C0;
 color:rgb(255, 255, 255)
}
.dark-mode button{
 background-color:#C0C0C0;
 color:rgb(255, 255, 255)
}
